@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: #62B6CB;
}


/* Navbar stylings */
.navbar {
  background-color: #1E6F83; /* Set your desired background color */
  width: 100%;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between; /* Spacing elements apart horizontally */
  align-items: center; /* Vertically center items within the navbar */
}

.navbar li {
  margin: 10px;
}

.navbar a {
  text-decoration: none;
  color: white; /* Set the text color */
}